/* Global Styling */
:root {
  --main-green-color: rgb(39, 174, 96);
}
html, body {
  margin: 0;
  padding: 0;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrap-heading {
  text-align: center;
  font-size: 2.5rem;
}
/* Landing Section Styling */
#landing-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../images/agriculture-pic-6.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0px 10px rgba(0,0,0,0.2);
  overflow-x: hidden;
}
#landing-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}
header {
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: transparent;
  z-index: 2;
}
#header-wrapper {
  position: relative;
  width: 100%;
  height: 75px;
  transition: 0.3s;
}
#header-wrapper.active {
  background-color: black !important;
}
#header-logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
#header-logo a {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
nav {
  position: absolute;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}
nav li {
  display: inline-block;
  line-height: 45px;
  margin: 0 15px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
}
nav li:hover:not(.user-entry) {
  border-bottom: 2px solid #fff;
}
#join-btn a {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgb(39, 174, 96);
}
#hero-text {
  width: 550px;
  max-width: 95%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
#hero-text > p:first-of-type {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
}
#hero-text > p:nth-of-type(2) {
  font-size: 1.10rem;
  line-height: 30px;
}
#user-entry-wrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#user-entry-wrapper li {
  display: inline-block;
  line-height: 45px;
  margin: 0 15px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
#learn-wrapper button {
  font-size: 1rem;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}
#learn-btn:focus {
  outline: none;
}
#join-wrapper,
#login-wrapper {
  width: 400px;
  height: 100vh;
  background: rgb(236, 240, 241);
  position: fixed;
  top: 0;
  right: -550px;
  z-index: 3;
  transition: 0.2s;
  padding-top: 30px;
  z-index: 4;
}
#join-wrapper.active,
#login-wrapper.active {
  right: 0;
}
#su-arrow-right,
#login-arrow-right {
  display: block;
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  padding: 20px;
}
#join-wrapper h4,
#login-wrapper h4 {
  text-align: center;
}
#join-wrapper form,
#login-wrapper form {
  width: 80%;
  margin: auto;
}
#join-wrapper input,
#login-wrapper input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  margin: 2px auto 15px;
  outline: none;
}
#join-wrapper input[type="button"]:not(#or-login-btn),
#login-wrapper input[type="button"]:not(#or-signup-btn){
  background-color: rgb(39, 174, 96);
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 0;
}
.form-divider {
  width: 80%;
  height: 1px;
  background: rgba(0,0,0,0.4);
  margin: 20px auto;
}
#join-wrapper p,
#login-wrapper p {
  text-align: center;
}
#or-login-btn,
#or-signup-btn {
  display: block;
  width: 80% !important;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
}
#burger-wrap,
#mobile-nav {
  display: none;
}
#burger-wrap {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 11px;
  right: 30px;
  z-index: 3;
  cursor: pointer;
}
#burger-wrap > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s;
}
#burger-wrap > div::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: center left;
  transition: 0.2s;
}
#burger-wrap > div::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color:#fff;
  border-radius: 5px;
  transform-origin: center left;
  transition: 0.2s;
}
#burger-wrap.active > div::before {
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}
#burger-wrap.active > div {
  background-color: transparent;
}
#burger-wrap.active > div::after {
  top: 50%;
  left: 50%;
  transform: rotate(-45deg) translateX(-50%);
}
#mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: -450px;
  width: 300px;
  height: auto;
  box-shadow: 0 0 10px #fff;
  border-radius: 0 0 0 8px;
  background-color: rgba(0,0,0,0.95);
  z-index: 2;
  transition: 0.2s;
}
#mobile-nav.active {
  right: 0;
}
#mobile-heading {
  text-align: center;
  border-bottom: 2px solid #fff;
  margin: 0;
  padding: 25px;
}
#mobile-heading a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}
#mobile-nav li:not(.vert-btn) {
  display: grid;
  width: 100%;
  grid-template-columns: 20% 80%;
  color: #fff;
  border-right: 6px solid transparent;
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  transition: 0.2s;
  cursor: pointer;
}
#mobile-nav i {
  text-align: center;
  padding: 20px;
}
#mobile-nav span {
  padding: 20px;
  vertical-align: middle;
}
#vert-login-btn,
#vert-join-btn {
  display: block;
  width: 200px;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
#vert-join-btn {
  background-color: var(--main-green-color);
  color: #fff;
}
#mobile-nav li:hover {
  color: var(--main-green-color);
  border-right-color: var(--main-green-color);
}

/* Why River Packing Section */
#why-wrap {
  width: 65%;
  text-align: center;
  margin: auto;
  padding: 40px 0;
}
#why-wrap > p {
  line-height: 30px;
}
#why-wrap > img {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px auto 0;
  border-radius: 5px;
}
/* Products Section */
#products-wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 50px 50px;
}
.product-grid-outer {
  position: relative;
  width: 100%;
  height: 500px;
  /* border: 1px solid red; */
  padding: 20px 0;
  overflow: hidden;
}
.product-text-img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  transition: 0.4s;
}
.product-text-img > div {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  padding: 50px 75px;
}
.product-text-img p:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold;
}
.product-text-img p:nth-of-type(2) {
  line-height: 35px;
}
.data-btn {
  font-size: 1rem;
  background-color: #333;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
}
.product-img-wrapper {
  position: relative;
}
.img-wrapper-inner {
  width: 75%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.img-wrapper-inner img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
}
.hell-wrap {
  position: relative;
}
.hell-wrap > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.chart-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 900px;
  max-width: 85%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.fa-arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 20px;
}
.product-divider {
  width: 80%;
  margin: 30px auto;
  height: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1);
}
#cherry-heading.inactive,
#grape-heading.inactive,
#pear-heading.inactive {
  display: none !important;
}
#cherry-img-wrapper.inactive,
#grape-img-wrapper.inactive,
#pear-img-wrapper.inactive {
  display: none !important;
}
#cherry-donut-chart,
#grape-donut-chart,
#pear-donut-chart {
  display: none !important;
}
#cherry-donut-chart.active,
#grape-donut-chart.active,
#pear-donut-chart.active {
  display: block !important;
}
#cherry-bar-chart,
#grape-bar-chart,
#pear-bar-chart {
  display: none !important;
}
#cherry-bar-chart.active,
#grape-bar-chart.active,
#pear-bar-chart.active {
  display: block !important;
}

/* Quality Assurance Section */
#quality-wrapper {
  width: 100%;
  height: auto;
  padding: 20px;
}
#qa-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 50px;
}
#qa-grid > div {
  width: 100%;
  height: 400px;
  padding: 25px;
}
.qa-heading {
  text-align: center;
}
.qa-grid-box {
  position: relative;
  height: 100%;
  padding: 20px 0;
  border-radius: 5px;
  overflow: hidden;
}
#agri-box {
  background: url("../images/agriculture-pic-5.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#manu-box {
  background: url("../images/manufacture-pic-1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#tech-box {
  background: url("../images/technology-pic-1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-box-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}
.grid-box-content {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.grid-box-content > h2 {
  color: #fff;
}
.grid-box-content > p {
  text-align: center;
  color: #fff;
}
.qa-grid-box p:last-child {
  line-height: 30px;
}
#quality-wrapper .fa {
  color: var(--main-green-color);
} 


/* About */
#about-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 50px;
}
#about-wrapper h2 {
  text-align: center;
}
#about-wrapper > p:nth-child(2) {
  width: 65%;
  margin: auto;
  text-align: center;
  line-height: 30px;
}
#people-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 30px auto;
}
.person-wrapper {
  position: relative;
}
.person-img-name {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  text-align: center;
}
.person-img-name img {
  width: 120px;
  border-radius: 50%;
  height: auto;
  margin: auto;
}
.person-info {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: rgba(39, 174, 96, 0.95);
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
}
.person-info > p {
  color: #fff;
  font-weight: bold;
  padding: 25% 15px 0;
  opacity: 0;
  line-height: 30px;
  transition: 0.3s;
}
.person-wrapper:hover > .person-info {
  height: 100%;
}
.person-wrapper:hover .person-info > p {
  opacity: 1;
}


/* Contact */
#contact-wrapper {
  width: 100%;
  height: auto;
  padding: 50px;
}

#contact-wrapper h2 {
  text-align: center;
}

#contact-wrapper form {
  width: 50%;
  margin: auto;
}
#contact-wrapper .grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-bottom: 10px;
}
#contact-wrapper input[type="text"] {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}
#contact-wrapper textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}
#contact-wrapper input[type="submit"] {
  display: block;
  width: 200px;
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  background-color: transparent;
  margin: auto;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
#phone-email-wrapper {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 10px;
  background-color: black;
  border-radius: 4px;
}
#phone-email-wrapper p {
  text-align: center;
  color: white;
}
/* Start of Location Section */
#location-wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0;
}
#location-wrap h2 {
  text-align: center;
}
#address-wrapper {
  width: 400px;
  background-color: black;
  border-radius: 4px;
  margin: auto;
}
#address-wrapper p {
  color: white;
  text-align: center;
  padding: 15px 0;
}
#map {
  width: 100%;
  height: 425px;
}
/* Start of Footer Section */
footer {
  width: 100%;
  height: auto;
  background-color: black;
}
footer p {
  text-align: center;
  color: white;
  padding: 20px 0;
  margin: 0;
}
#to-top-btn {
  position: fixed;
  bottom: 10px;
  right: -50px;
  background: rgba(0,0,0,0.6);
  border: none;
  border-radius: 5px;
  padding: 5px 15px 10px;
  transition: 0.2s;
  cursor: pointer;
}
#to-top-btn.active {
  right: 10px;
}
#to-top-btn:focus {
  outline: none;
}
#to-top-btn .fa {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

/* Start of Media Styling */
@media screen and (max-width: 1150px) {
  #products-wrapper {
    padding: 0 15px 50px;
  }
  .text-wrapper:nth-of-type(1),
  .text-wrapper:nth-of-type(3) {
    padding-right: 0;
  }
  .text-wrapper:nth-of-type(2) {
    padding-left: 0;
  }
}
@media screen and (max-width: 950px) {
  .fa-arrow-left {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 905px) {
  nav,
  #user-entry-wrapper {
    display: none;
  }
  #burger-wrap,
  #mobile-nav {
    display: block;
  }
  #why-wrap {
    width: 85%;
  }
  #why-wrap p:last-of-type {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .product-grid-outer {
    height: auto;
  }
  .text-wrapper {
    width: 95% !important;
    padding: 0 0px 20px !important;
    margin: auto;
  }
  .product-heading {
    margin-top: 0;
    text-align: center;
  }
  .product-desc {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .data-btn {
    display: none;
  }
  .product-text-img {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: block;
    width: 100%;
  }
  .product-img-wrapper {
    padding-top: 0 !important;
    padding-bottom: 20px !important;
  }
  .img-wrapper-inner {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: auto;
  }
  .hell-wrap {
    padding: 0 !important;
  }
  .chart-wrap {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-width: 95%;
    margin: auto;
  }
  .fa-arrow-left {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #hero-text > p:first-of-type {
    font-size: 2.8rem;
  }
  #header-logo {
    left: 20px;
  }
  #burger-wrap {
    right: 20px;
  }
  #why-wrap {
    width: 90%;
  }
  .img-wrapper-inner {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  #login-wrapper,
  #join-wrapper {
    width: 100%;
  }
  #products-wrapper {
    padding: 0 0 50px;
  }
}

@media screen and (max-width: 450px) {
  #hero-text > p:nth-of-type(2) {
    font-size: 1rem;
  }
  #address-wrapper {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  #address-wrapper p {
    margin: 0;
  }
  #mobile-nav {
    width: 100%;
    border-radius: 0;
  }
  .product-img-wrapper {
    padding: 0 40px 20px !important;
  }
}
@media screen and (max-width: 410px) {
  #hero-text > p:first-of-type {
    font-size: 2rem;
  }
  #why-wrap {
    width: 95%;
  }
  #why-wrap .wrap-heading {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 350px) {
  #address-wrapper p {
    font-size: 0.95rem;
  }
}